APP_NAME=GestionPlus
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://gestionplus.app
LOG_CHANNEL=stack
LOG_LEVEL=error
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=gestionplus
DB_USERNAME=gestionplus
DB_PASSWORD=gestionplus
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hola@gestionplus.app"
MAIL_FROM_NAME="Gestión+"
FRONTEND_URL=https://gestionplus.app
SANCTUM_STATEFUL_DOMAINS=gestionplus.app
SESSION_DOMAIN=gestionplus.app
SESSION_DRIVER=cookie
SESSION_SECURE_COOKIE=true
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
